[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
rope = "*"
mypy = "*"
pylint = "*"
pytest = "*"

[packages]
youtube-dl = "*"

[requires]
python_version = "3.8"
